<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-products">
      <ion-icon src="./../../../assets/icon/logo_edit_summary.svg"></ion-icon>
      <ion-label>Mis productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon src="./../../../assets/icon/icon_exchange.svg"></ion-icon>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="square"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon src="./../../../assets/icon/icon_requests.svg"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
